body {
  margin: 5px;
  text-align: center;
}

header {
  background-color: aqua;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}

a {
  margin-left: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: rgb(255, 0, 119);
}
